{{#if template}}
<template>
  <div class="{{ name }}">
    {{ properCase name }}
  </div>
</template>
{{/if}}
{{#if script}}
<script setup >
</script>
{{/if}}
{{#if style}}
<style lang="scss" scoped>
</style>
{{/if}}
